<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TFS-Server-URL" value="https://tfs.{domain}/tfs" />
    <add key="TFS-Collection-ID" value="" />
    
    <add key="MalikP.TFS.PhotoProvider.Settings.ActiveDirectoryPhotoProviderSettings.Domain" value="{domain}"/>
    <add key="MalikP.TFS.PhotoProvider.Settings.ActiveDirectoryPhotoProviderSettings.PhotoAttribute" value="thumbnailphoto"/>

    <add key="MalikP.TFS.PhotoProvider.Settings.FileSystemProviderSettings.FileExtension" value=".jpg"/>
    <add key="MalikP.TFS.PhotoProvider.Settings.FileSystemProviderSettings.FilePrefix" value=""/>
    <add key="MalikP.TFS.PhotoProvider.Settings.FileSystemProviderSettings.FileSuffix" value=""/>
    <add key="MalikP.TFS.PhotoProvider.Settings.FileSystemProviderSettings.RootFolder" value="C:\Temp\Photos\"/>
    
  </appSettings>
  <connectionStrings>
    <add name="PhotoData" providerName="System.Data.SqlClient" connectionString="Server=.;Database=TFSDB;Trusted_Connection=True;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>