<!--

// <copyright file="App.config" company="MalikP.">
//   Copyright (c) 2016-2017, Peter Malik.
//   Authors: Peter Malik (MalikP.) (peter.malik@outlook.com)
//
//   Dual-licensed under the Apache License, Version 2.0, and the Microsoft Public License (Ms-PL).
//   you may not use this file except in compliance with one of the Licenses.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//   or
//       http://www.microsoft.com/opensource/licenses.mspx
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
// </copyright>

-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TFS-Server-URL" value="https://tfs.{domain}/tfs" />
    <add key="TFS-Collection-ID" value="" />
    
    <add key="MalikP.TFS.PhotoProvider.Settings.ActiveDirectoryPhotoProviderSettings.Domain" value="{domain}"/>
    <add key="MalikP.TFS.PhotoProvider.Settings.ActiveDirectoryPhotoProviderSettings.PhotoAttribute" value="thumbnailphoto"/>

    <add key="MalikP.TFS.PhotoProvider.Settings.FileSystemProviderSettings.FileExtension" value=".jpg"/>
    <add key="MalikP.TFS.PhotoProvider.Settings.FileSystemProviderSettings.FilePrefix" value=""/>
    <add key="MalikP.TFS.PhotoProvider.Settings.FileSystemProviderSettings.FileSuffix" value=""/>
    <add key="MalikP.TFS.PhotoProvider.Settings.FileSystemProviderSettings.RootFolder" value="C:\Temp\Photos\"/>
    
  </appSettings>

</configuration>